In [1]:
import pandas as pd

In [2]:
model_res = pd.read_csv("../results/9g_results.csv")
train_lookup = pd.read_csv("../results/train_lookup_results.csv")

In [3]:
model_res.head()

,name,password,best_pred_pass,avg_edit_dist,min_distance,user_pass_min_dist,top_100_best_pass,top_100_avg_edit_dist,top_100_min_distance
0,jinkies_0@hotmail.com,jinkies,jinkies,3.246154,0,2,tinkle,7.35,3
1,leonid-lebedev00@rambler.ru,leonid,leonid,3.622222,0,10,19weed,6.90,5
2,cheyen1@hotmail.fr,cheyen,cheyen,2.333333,0,1,)ryan,6.77,4
3,niknak_niknak@aol.com,niknak,niknak,2.800000,0,7,)ryan,7.00,5
4,ali-sel@mail.ru,alisel,alisel,2.929825,0,1,abc123,6.73,5

In [4]:
model_res['name'].nunique()

9988

In [5]:
model_res.drop_duplicates(subset='name', keep=False, inplace = True)
model_res.shape

(9981, 9)

In [6]:
train_lookup.drop_duplicates(subset='name', keep=False, inplace = True)
train_lookup.head()

                      name  min     mean          actual   best_lookup
0      111111111@gmail.com    3  5.62000           angel        yankee
1               11@mail.ru    5  8.96000       129679326      31496321
2  11xxaidanxx11@yahoo.com    3  5.75000  11stealer11111  21stealer111
3          123123@live.com    5  7.22807        danielle          bill
4            123456@qq.com    4  7.57000         8516623        891212

In [7]:
comp = pd.merge(model_res, train_lookup, left_on = "name", right_on = "name")
comp.head()

,name,password,best_pred_pass,avg_edit_dist,min_distance,user_pass_min_dist,top_100_best_pass,top_100_avg_edit_dist,top_100_min_distance,min,mean,actual,best_lookup
0,cheyen1@hotmail.fr,cheyen,cheyen,2.333333,0,1,)ryan,6.77,4,14,14.0,cheyen,baby_lindseykate
1,bahman.neekooee@mail.ru,bahman1,bahmann,3.518072,1,9,)ryan,7.15,5,1,8.6,bahman1,bahman
2,270510@rambler.ru,270510,200510,4.056818,1,0,000000,6.53,4,8,8.0,270510,pasha710751
3,romagrs@mail.ru,romagr,1omagr,4.231707,1,1,10pace,6.78,5,11,12.0,romagr,romagrs@yandex.ru
4,jomsjohn@yahoo.com,jomsjohnw,jomsjohn,4.808989,1,1,password,8.81,7,3,3.0,jomsjohnw,jomsjohnasd

In [8]:
# Compare min_distance of model to min. distance of lookup
comp[['min_distance', 'min']].mean()

min_distance    7.279002
min             6.225638
dtype: float64

In [9]:
comp[['avg_edit_dist', 'mean']].mean()

avg_edit_dist    8.625444
mean             7.647614
dtype: float64